:root {
    --happy: rgb(248, 248, 158);
    --sad: rgb(121, 207, 250);
    --nuetral: rgb(162, 222, 162);
    --angry: rgb(244, 135, 135);
}

.backer {
    background-image: linear-gradient(to left, rgb(244, 159, 159), rgb(146, 211, 237), rgb(211, 245, 222), rgb(255, 255, 193) );
    background-size: cover;
}

body {

    height: 100%;
    font-family: 'Mooli';
    width: 100%;
}

.hero {
    height: 90px;
    background-image: linear-gradient(rgb(10, 141, 211), rgb(68, 105, 156));
    
}

.hero img {
    position: absolute;
    left: 0;
}

h1.heading {
    font-family: 'Dosis';
    font-size: 50px;
    font-weight: 600;
}



section.section {
    margin: 1px;
    padding: 1px;
}

.section {
    margin: 0;
}

.card {
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: ease-out 0.45s;
    box-shadow: 5px 5px 10px grey;
    
    
}

.modal-image {
    display: flex;
    margin: auto;
    justify-content: center;
    max-block-size: 400px;
    margin-bottom: 0;
    
}

.column {
    margin: 10px;
    background-image: linear-gradient(to top, rgb(10, 141, 211), rgb(68, 105, 156));
    color: aliceblue;
    border: 5px solid white;
    justify-content: center;
    border-radius: 15px;
    min-width:  230px;

    text-align: center;
}

.container {
    scale: .85;
    width: 85%;
    display: flex;
    justify-content: center;
}





.column h2 {
    color: aliceblue;
    font-weight: 700;
    font-size: small;
}

.left {
    position: absolute;
    top:0;
    
}

.start {
    color: white;
    text-align: center;
    
}

.modal-field {
    background-color: #c0e9f5;
    border-radius: 15px;
    display: flex;
    width: 40%;
    margin: auto;
    justify-content: center;
}

.modal-field2 {
    background-color: #c0e9f5;
    border-radius: 15px;
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
}

.continue {
    display: flex;
    margin: auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 125px;
   
    height: 40px;
    margin-top: 25px;
    color: white;
    font-size: larger;
    font-weight: 500;
    background-color: rgb(24, 99, 174);
}

.continue2 {
    display: flex;
    margin: auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100px;
    border-radius: 15px;
    height: 40px;
    margin-top: 25px;
    color: white;
    font-size: larger;
    font-weight: 500;
    background-color: rgb(24, 99, 174);
}

.weather-location {
    width: 130px;
    margin-left: 20px;
    margin-top: 10px;
   
}

.weather-location:hover {
    scale: 1.1;
    transition :ease-in 0.3s;
}

.weekly {
    width: fit-content;
    background-color: rgb(14, 102, 189);
    border: 2px solid white;
    margin-right: 10px;
    margin-top: 5px;
    color: white;
    font-weight: 500;

}

.right {
    position: fixed;
    top:0;
    max-block-size: 80px;
    right:0;
}

.water {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.water-qty {
    align-items: center;
    border-radius: 0;
    text-align: center;
    background: none;
    border: none;
    color: #fff;
    font-size: 50px;
    width: 75px;
}

.control {
    width: 50%;
    justify-content: center;
    margin: auto;
}

.control-options {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}


.slide {
    -webkit-appearance: none;
    width: 95%;
    height: 5px;
    border-radius: 5px;  
    background: #ffffff;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 20px;
}

.slide::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    background-image: linear-gradient( -90deg, #ee2513 0%, #daae51 100%);
    border: 2px solid white;
    cursor: pointer;
  }

  .slider {
    -webkit-appearance: none;
    width: 95%;
    height: 5px;
    border-radius: 5px;  
    background: #ffffff;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 20px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
    cursor: pointer;
    border: 2px solid white;
  }


.containerR {
    display: flex;
    justify-content: center;
}

.group {
    display: flex;
    flex-direction: row;
    font-size: 100px;
    margin:0 5px;
}

.subtitle {
    text-align: center;
}

.float {
    position: absolute;
    right: 0;
    
}


.save {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 3px;
    border-radius: 50%;
    padding: 0px 25px;
    font-size: xx-large;
}

.reset {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: auto;
   margin-bottom: 60px;
   border-radius: 10px;
   width: 20%;
   height: 40px;
   font-size: x-large;
   align-content: center;
   font-weight: 600;
}

.edit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: 25px;
    border-radius: 50%;
    padding: 0px 25px;
    font-size: xx-large;
}

.is-warning {
    width: 10%;
}

.link-text {
    font-size: small;
    font-family: 'space grotesk';
    margin-left: 40px;
}


.fa-code {
    margin: 5px;
}

.happy {
    background-image: none;
    background-color: var(--happy);
    font-size: 25px;
    margin: 0;
    border-radius: 1px;
    border: none;

}

.sad {
    background-image: none;
    border: none;
    background-color: var(--sad);
    font-size: 25px;
    margin: 0;
    border-radius: 1px;

}

.nuetral {
    background-image: none;
    border: none;
    background-color: var(--nuetral);
    font-size: 25px;
    margin: 0;
    border-radius: 1px;

}

.angry {
    background-image: none;
    border: none;
    background-color: var(--angry);
    font-size: 25px;
    color: white;
    margin: 0;
    border-radius: 1px;

}

.stress {
    margin-bottom: 10px;
}


.block-mood {
    background-color: grey;
    background-size: cover;
    background-position: center;
    height: 130px;
    display: block;
    font-size: 75px;
    color: black;
    margin: auto;
    width: 50%;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0 10px 10px -5px black;
    max-width: 130px;
    min-width: 130px;

}

.happy-back {
    background-image:url(../images/happy-png.png);
}

.sad-back {
    background-image:url(../images/sad-png.png);
}

.neutral-back {
    background-image:url(../images/neutral-png.png);
}

.stressed-back {
    background-image:url(../images/stressed-png.png);
}

.block-weather {
    background-image:url(../images/weatherback.jpg);
    background-size: cover;
    background-position: center;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(15, 15, 136);
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 10px 10px -5px black;


}

.block-weather p {
    color:blue;
    font-weight: 600;
}

.block-music {
    background-image: url(../images/youtube.png);
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 10px 10px -5px black;

}

.block-music a {
    text-decoration: none;
    font-style: none;
    color: #fff;
    
}

.water-display {
    background-image: linear-gradient( -90deg, #0bc3f6 0%, #ffffff 100%);
    backdrop-filter: blur(15px);
    color: rgb(14, 14, 15);
    display: flex;
    width: 90%;
    height: 50px;
    margin: auto;
    margin-left: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
    align-items: center;   ;
    font-size: medium;
    box-shadow: 0 10px 10px -5px black;
    justify-content: center;
}

.water-display p {
    margin-left: 5px;
    font-weight: 600;
}

.stress-display {
    background-image: linear-gradient( -90deg, #ee2513 0%, #daae51 100%);
    backdrop-filter: blur(15px);
    display: flex;
    width: 90%;
    height: 50px;
    margin-right: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
    align-items: center;
    font-size: medium;
    box-shadow: 0 10px 10px -5px black;
    color:rgb(0, 0, 0);
    justify-content: center;

}

.stress-display p {
    margin-left: 5px;
    font-weight: 600;
}

.sleep-display {
    background-image: linear-gradient(90deg, #dcd062 0%, #41178e 100%);
    color:#0c0c0c;
    display: flex;
    width: 90%;
    height: 50px;
    margin-left: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
    align-items: center;
    font-size: medium;
    box-shadow: 0 10px 10px -5px black;
    justify-content: center;

    }

    .sleep-display p {
        margin-left: 5px;
        font-weight: 600;
    }

.happy:hover,
.sad:hover,
.nuetral:hover,
.angry:hover {
    scale: 1.1;
}

.energy-display {
    background-image: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
    backdrop-filter: blur(15px);
    display: flex;
    width: 90%;
    height: 50px;
    margin-right: 25px;
    margin-bottom: 10px;
    border-radius: 10px;
    align-items: center;
    font-size: medium;
    box-shadow: 0 10px 10px -5px black;
    color:rgb(0, 0, 0);
    justify-content: center;

}

.energy-display p {
    margin-left: 5px;
    font-weight: 600;
}

.flip {
    width: 200px;
    display:none;
    transition: ease-in 0.45s;
}

.short {
    scale: .90;
    margin: 0;
}

.mood {
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
    font-size: 30px;
   color: white;
   margin-bottom: 0;
}

.weather {
    display: flex;
   justify-content: center;
   align-items: center;
   font-size: 40px;
   color: white;
}

.music {
    display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
}

.container input {
    align-items: center;
    align-content: center;
}

.fa-bottle-water {
    font-size: 90px;
}

.seperator {
    margin: 26px 0;
    width: 100%;
    height: 1px;
    background-color: rgb(171, 212, 251);
}

.links {

    width: 100%;
    text-align: center;

}

.links button {
    width: fit-content;
    height: 50px;
    font-family: 'delicious handrawn';
    font-size: x-large;
    
}


.sleep {
    display: flex;
    justify-content: center;
    
}

.full {
    width: 100%;
}

.center {
    justify-content: center;
    text-align: center;
    margin: 0;
}

.make-bigger {
    font-size: 50px;
}



.hours {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-bottom: 25px;
}

select {
    width: 85%;
    style:none;
    background-color: transparent;
    font-size: larger;
    color: #fff;
    border-radius: 10px;
    border: 2px solid white;
}

option {
    background-color: rgb(24, 163, 239);
    font-weight: 500;
    border-radius: 15px;
    color: white;

}

.modal {
    height: 100%;
}

.modal-wrap {
    width: 70%;
}

.margin-5 {
    margin: 10px
}

.modal-content {
    width: 100%;
    height: 100%;
}

.modal-field

.ballons {
    background-image: url(/assets/images/balloons-back.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}

.end-title {
    margin: 50px 0;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(0, 115, 255);
    font-weight: 600;
    justify-content: center;
    text-align: center;
    font-size: 60px;
    font-family: 'delicious handrawn';
    align-items: center;
    align-content: center;
    height: 130px;
}

.video-wrap {
    display: flex;
    flex-wrap: wrap;
    max-block-size: 250px;
    width: 33%;
    margin-bottom: 50px;
}

.video-display {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    margin-bottom: 50px;
    justify-content: center;
    width: 250px;
    height: 250px;
    box-shadow: 0 10px 10px -5px black;

}

.small-pic {
    width: 100px;
    margin-bottom: 0;
}

.small-pic2 {
    width: 600px;
}

.medium-pic {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    width: 200px;
}



.mood-wrap {
    width: 20%;
    margin: auto;
    max-width: 200px;
    height: 200px;
}

.weather-wrap {
    background-color: grey;
    background-image: url(/assets/images/weatherback.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    font-size: 75px;
    color: black;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0 10px 10px -5px black;
    width: 20%;
    max-width: 200px;
    height: 200px;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
}

.stat-wrap {
    width: 100%;
    margin: auto;
    margin-left: 5px;
}

.end-back {
background-image: url(../images/final-moodal-v2.png);
background-size: cover;
background-position: center;
}

.row {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.row2 {
    display: flex;
    flex-direction: row;
}

.weather-text {
    font-weight: 600;
    color: #0b1ff6;
    font-size: larger;
}

.hidden {
    display: none;
}

.font-adjust {
   
    text-align: center;
}

label {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.fa-face-smile, .fa-face-meh, .fa-face-sad-tear, .fa-face-angry {
    margin: 5px;
    transition: 0.25s;
    font-size: 38px;
}

input[type="radio"] {
    -webkit-appearance: none;
}

.fa-face-smile:hover, .fa-face-meh:hover, .fa-face-sad-tear:hover, .fa-face-angry:hover {
    transition: 0.25s;
    scale: 1.2;
}

input[type="radio"]:checked + .fa-face-smile {
    scale: 1.2;
    color: var(--happy);
}

input[type="radio"]:checked + .fa-face-meh {
    scale: 1.2;
    color: var(--nuetral);
}

input[type="radio"]:checked + .fa-face-sad-tear {
    scale: 1.2;
    color: var(--sad);
}

input[type="radio"]:checked + .fa-face-angry {
    scale: 1.2;
    color: var(--angry);
}

.sorry {
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
}

.transparent {
    opacity: 70%;
    font-weight: 200;
    text-transform: lowercase;
}

.change {
    font-size: 40px;
    font-family: 'autour one';
}

.containB {
    scale:1;
}

.fa-youtube {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    
    
  
}

.fa-youtube:hover {
    scale: 1.1;
    transform: 0.25s;
}

.youtube-link {
    display: flex;
    justify-content: center;
 margin:80px;
 font-size: xx-large;
}

.make-biggest {
    font-size: 80px;
    color: red;
}

footer {
    display: flex;
    justify-content: center;
}

.foot-image {
    max-block-size: 150px;
    visibility: hidden;
}

.modal-field2 {
    width: 100%;
}

@media screen and (max-width: 576px) {
    .container {
        scale: 1;
        margin: auto;
    }

    body {
        width: 100%;
        margin: auto;
        margin-left: -10px;
        
        
        
    }

    .text {
        width: 60%;
        text-align: center;
        margin: auto;
        justify-content: center;
    }

    .column {
        justify-content: center;
        margin: auto;
        margin-bottom: 10px;
    }

    .card {
      width: 80%;
      margin: auto;
      margin-bottom: 30px;
      transition: ease-out 0.45s;
    
    }

    .modal {
       height:100%;
        
    }

  

    .modal-content {
        height: 100%;
        font-size: large;
    }

    .modal-field {
        width: 200px;
    }

    .modal-field2 {
        width: 200px;
    }

    .row {
        flex-direction: column;
        justify-content: center;
    }

    .modal-background {
        height: 100%;
        padding: 0;

    }

    .modal-image {
        max-block-size: 100px;
    }

    .column {
        width: 70%;
        
        
    }
    .column:hover {
        scale:1;
    }

    .heading {
        justify-content: center;
        
        margin: auto;
        text-align: center;
        margin: 5px;
        margin-left: 100px;
        width: 50%;
    }
    .hero {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 160px;
        top: 0;
    }

    .flip:hover {
        scale: 1;
        transform: none;
    }

    .end-title {
        display: flex;
        margin-bottom: 50px;
        font-size: 30px;
    }

    .video-wrap {
        margin: auto;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        width: 200px;
    }

    .modal-wrap {
        scale: .75;
    }

    .mood {
        scale: .85;
        margin-bottom: 30px;
    }

    .left {
        margin-top: 50px;
    }

    .mood-wrap {
        width: 200px;
    }

    .weather-wrap {
        width: 200px;
    }

    .reset {
        width: min-content;
        font-size: medium;
        margin-top: 0px;
        margin-bottom: 45px;
    }

    .small-pic {
        margin-top: -20px;
    }

 

    .edit {
        font-size: larger;
        padding: 5px 15px;
    }

    .save {
        font-size: larger;
        padding: 5px 15px;
    }

    .links {
        display: flex;
        flex-direction: column;
    }

    .links button {
        font-size: small;
        width: min-content;
        margin: 5px;
    }

    .head-image {
        visibility: hidden;
    }

    .foot-image {
        visibility: visible;
    }

    section.section {
        display: flex;
        scale: 1;
        margin-top: 25px;

    }

    .weather-location {
        width: 75px;
        margin-left: 15px;
        
    }

    .video-display {
        margin-bottom: 20px;
    }

    .link-text {
        visibility: hidden;
        
    }

    .sorry {
        width: 300px;
    }

    .small-pic2 {
        width: 250px;
    }
}