:root {
    --happy: yellow;
    --sad: blue;
    --balanced: green;
    --stressed: red;
}

body {
    background-image: url(/assets/images/bg-calm.jpg);
    background-size: cover;
    height: 100vh;

}

.hero {
    height: 100px;

}

.column {
    margin: 10px;
    margin-bottom: 25px;
    background-color: rgb(10, 141, 211);
    color: aliceblue;
    box-shadow: 0px 0px 5px #fff;
}

.column:hover {
    scale: 1.1;
}

.date {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 0;
}

.column h2 {
    color: aliceblue;
    font-weight: 700;
}

.control-options {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

.save {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
}

.reset {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: auto;
   margin-top: 25px;
   border-radius: 10px;
}

.edit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: 25px;
    border-radius: 5px;
}

.is-warning {
    width: 10%;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
}

.fa-code {
    margin: 5px;
}

.happy {
    background-color: var(--happy);
}

.sad {
    background-color: var(--sad);
}

.balanced {
    background-color: var(--balanced);
}

.stressed {
    background-color: var(--stressed);
}

.block-mood {
    background-color: blueviolet;
    height: 150px;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-weather {
    background-color: rgb(10, 25, 119);
    height: 150px;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-music {
    background-color: rgb(43, 226, 55);
    height: 150px;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip {
    width: 200px;
    filter: brightness(90%);
}

.mood {
    display: flex;
   justify-content: center;
   align-items: center;
   font-size: 100px;
   color: white;
}

.weather {
    display: flex;
   justify-content: center;
   align-items: center;
   font-size: 40px;
   color: white;
}

.music {
    display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   flex-direction: column;
}

