:root {
    --happy: rgb(248, 248, 158);
    --sad: rgb(121, 207, 250);
    --nuetral: rgb(162, 222, 162);
    --angry: rgb(244, 135, 135);
}

body {
    background-image: linear-gradient(to left, rgb(244, 159, 159), rgb(146, 211, 237), rgb(211, 245, 222), rgb(255, 255, 193) );
    background-size: cover;
    height: 100%;
    font-family: 'Mooli';
    width: 100%;
}

.hero {
    height: 90px;
    background-image: linear-gradient(rgb(10, 141, 211), rgb(68, 105, 156));
    
}

.hero img {
    position: absolute;
    left: 0;
}

h1.heading {
    font-family: 'Dosis';
    font-size: 50px;
    font-weight: 600;
}

section.section {
    margin: 1px;
    padding: 1px;
}

.card {
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
    box-shadow: 5px 5px 10px grey;
    
}

.column {
    margin: 10px;
    background-image: linear-gradient(to top, rgb(10, 141, 211), rgb(68, 105, 156));
    color: aliceblue;
    border: 5px solid white;
    justify-content: center;
    border-radius: 15px;
    min-width: 180px;
    
}

.container {
    scale: .85;
    width: 85%;
    display: flex;
    justify-content: center;
}

.column a {
    scale: 1.2;
}



.column h2 {
    color: aliceblue;
    font-weight: 700;
}

.left {
    position: fixed;
    top:0;
    max-block-size: 80px;
}

.right {
    position: fixed;
    top:0;
    max-block-size: 80px;
    right:0;
}

.water {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.water-qty {
    align-items: center;
    border-radius: 0;
    text-align: center;
    background: none;
    border: none;
    color: #fff;
    font-size: 50px;
    width: 75px;
}

.control-options {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}


.slide {
    -webkit-appearance: none;
    width: 95%;
    height: 5px;
    border-radius: 5px;  
    background: #ffffff;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 20px;
}

.slide::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    background-image: linear-gradient( -90deg, #ee2513 0%, #daae51 100%);
    border: 2px solid white;
    cursor: pointer;
  }

  .slider {
    -webkit-appearance: none;
    width: 95%;
    height: 5px;
    border-radius: 5px;  
    background: #ffffff;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 20px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
    cursor: pointer;
    border: 2px solid white;
  }


.containerR {
    display: flex;
    justify-content: center;
}

.group {
    display: flex;
    flex-direction: row;
    font-size: 100px;
    margin:0 5px;
}

.subtitle {
    text-align: center;
}


.save {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 3px;
    border-radius: 50%;
    padding: 0px 25px;
    font-size: xx-large;
}

.reset {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: auto;
   margin-bottom: 60px;
   border-radius: 10px;
   width: 20%;
   height: 40px;
   font-size: x-large;
   align-content: center;
   font-weight: 600;
}

.edit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: 25px;
    border-radius: 50%;
    padding: 0px 25px;
    font-size: xx-large;
}

.is-warning {
    width: 10%;
}


.fa-code {
    margin: 5px;
}

.happy {
    background-image: none;
    background-color: var(--happy);
    font-size: 25px;
    margin: 0;
    border-radius: 1px;
    border: none;

}

.sad {
    background-image: none;
    border: none;
    background-color: var(--sad);
    font-size: 25px;
    margin: 0;
    border-radius: 1px;

}

.nuetral {
    background-image: none;
    border: none;
    background-color: var(--nuetral);
    font-size: 25px;
    margin: 0;
    border-radius: 1px;

}

.angry {
    background-image: none;
    border: none;
    background-color: var(--angry);
    font-size: 25px;
    color: white;
    margin: 0;
    border-radius: 1px;

}

.stress {
    margin-bottom: 10px;
}


.block-mood {
    background-color: grey;
    background-size: cover;
    background-position: center;
    height: 130px;
    display: block;
    font-size: 75px;
    color: black;
    margin: auto;
    width: 50%;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0 10px 10px -5px black;
    max-width: 130px;
    min-width: 130px;

}

.happy-back {
    background-image:url(../images/happy-png.png);
}

.sad-back {
    background-image:url(../images/sad-png.png);
}

.neutral-back {
    background-image:url(../images/neutral-png.png);
}

.stressed-back {
    background-image:url(../images/stressed-png.png);
}

.block-weather {
    background-image:url(../images/weatherback.jpg);
    background-size: cover;
    background-position: center;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(15, 15, 136);
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 10px 10px -5px black;


}

.block-weather p {
    color:blue;
    font-weight: 600;
}

.block-music {
    background-image: url(../images/youtube.png);
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 10px 10px -5px black;

}

.block-music a {
    text-decoration: none;
    font-style: none;
    color: #fff;
    
}

.water-display {
    background-image: linear-gradient( -90deg, #0bc3f6 0%, #ffffff 100%);
    backdrop-filter: blur(15px);
    color: rgb(14, 14, 15);
    display: flex;
    width: 90%;
    height: 50px;
    margin: auto;
    margin-left: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
    align-items: center;   ;
    font-size: medium;
    box-shadow: 0 10px 10px -5px black;
    justify-content: center;
}

.water-display p {
    margin-left: 5px;
    font-weight: 600;
}

.stress-display {
    background-image: linear-gradient( -90deg, #ee2513 0%, #daae51 100%);
    backdrop-filter: blur(15px);
    display: flex;
    width: 90%;
    height: 50px;
    margin-right: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
    align-items: center;
    font-size: medium;
    box-shadow: 0 10px 10px -5px black;
    color:rgb(0, 0, 0);
    justify-content: center;

}

.stress-display p {
    margin-left: 5px;
    font-weight: 600;
}

.sleep-display {
    background-image: linear-gradient(90deg, #dcd062 0%, #41178e 100%);
    color:#0c0c0c;
    display: flex;
    width: 90%;
    height: 50px;
    margin-left: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
    align-items: center;
    font-size: medium;
    box-shadow: 0 10px 10px -5px black;
    justify-content: center;

    }

    .sleep-display p {
        margin-left: 5px;
        font-weight: 600;
    }

.happy:hover,
.sad:hover,
.nuetral:hover,
.angry:hover {
    scale: 1.1;
}

.energy-display {
    background-image: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
    backdrop-filter: blur(15px);
    display: flex;
    width: 90%;
    height: 50px;
    margin-right: 25px;
    margin-bottom: 10px;
    border-radius: 10px;
    align-items: center;
    font-size: medium;
    box-shadow: 0 10px 10px -5px black;
    color:rgb(0, 0, 0);
    justify-content: center;

}

.energy-display p {
    margin-left: 5px;
    font-weight: 600;
}

.flip {
    width: 200px;
}



.mood {
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
    font-size: 30px;
   color: white;
   margin-bottom: 0;
}

.weather {
    display: flex;
   justify-content: center;
   align-items: center;
   font-size: 40px;
   color: white;
}

.music {
    display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
}

.container input {
    align-items: center;
    align-content: center;
}

.fa-bottle-water {
    font-size: 90px;
}

.seperator {
    margin: 20px 0;
    width: 100%;
    height: 1px;
    background-color: rgb(171, 212, 251);
}

.links {

    width: 100%;
    text-align: center;

}

.links button {
    width: fit-content;
    height: 50px;
    font-family: 'delicious handrawn';
    font-size: x-large;
    
}


.sleep {
    display: flex;
    justify-content: center;
    
}

.full {
    width: 100%;
}

.center {
    justify-content: center;
    text-align: center;
    margin: 0;
}

.make-bigger {
    font-size: 50px;
}

.hours {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-bottom: 25px;
}

select {
    width: 85%;
    style:none;
    background-color: transparent;
    font-size: larger;
    color: #fff;
    border-radius: 10px;
    border: 2px solid white;
}

option {
    background-color: rgb(24, 163, 239);
    font-weight: 500;
    border-radius: 15px;
    color: white;

}

.hidden {
    display: none;
}

.font-adjust {
   
    text-align: center;
}

label {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.fa-face-smile, .fa-face-meh, .fa-face-sad-tear, .fa-face-angry {
    margin: 5px;
    transition: 0.25s;
    font-size: 38px;
}

input[type="radio"] {
    -webkit-appearance: none;
}

.fa-face-smile:hover, .fa-face-meh:hover, .fa-face-sad-tear:hover, .fa-face-angry:hover {
    transition: 0.25s;
    scale: 1.2;
}

input[type="radio"]:checked + #happy {
    scale: 1.2;
    color: var(--happy);
}

input[type="radio"]:checked + #neutral {
    scale: 1.2;
    color: var(--nuetral);
}

input[type="radio"]:checked + #sad {
    scale: 1.2;
    color: var(--sad);
}

input[type="radio"]:checked + #angry {
    scale: 1.2;
    color: var(--angry);
}

.transparent {
    opacity: 70%;
    font-weight: 200;
}

.containB {
    scale:1;
}



.toggle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    height: 40px;
    font-size: xx-large;
    align-content: center;
    margin-top: 10px;
    margin-bottom: 25px;
    border-radius: 50%;
    padding: 35px 25px;
    background-color:#61777d;
    box-shadow: inset 0 0 10px;
    color:white;
}

h4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: auto;
    align-content: center;
    
}

/*start Dark Mode Code*/
.darker {
    background-image: linear-gradient(to left, rgb(95, 95, 95), rgb(149, 149, 149), rgb(96, 96, 96), rgb(58, 58, 58) );

}

.dark {
    background-image: linear-gradient(to top, rgb(5, 79, 119), rgb(12, 34, 65));

}

button.dark {
    background-color: black;
    color:yellow;
}
/*will need to add code for dark mode to remove is-warning class from links*/


/*nothing but Media Screen below this point*/

@media screen and (max-width: 576px) {
    .container {
        scale: 1;
    }

    .card {
      width: min-content;
      margin-bottom: 30px;
    }

    .column {
        width: 300px;
    }
    .column:hover {
        scale:1;
    }

    .flip:hover {
        scale: 1;
        transform: none;
    }

    .reset {
        width: min-content;
        font-size: medium;
        margin-top: 0px;
        margin-bottom: 45px;
    }

    .edit {
        font-size: larger;
        padding: 5px 15px;
    }

    .save {
        font-size: larger;
        padding: 5px 15px;
    }

    .links button {
        font-size: small;
        width: min-content;
    }

    .head-image {
        visibility: hidden;
    }

    section.section {
        margin: 20px;
        padding: 20px;
    }
}