:root {
    --happy: rgb(248, 248, 158);
    --sad: rgb(121, 207, 250);
    --nuetral: rgb(162, 222, 162);
    --angry: rgb(244, 135, 135);
}

body {
    background-image: linear-gradient(to left, rgb(244, 159, 159), rgb(146, 211, 237), rgb(211, 245, 222), rgb(255, 255, 193) );
    background-size: cover;
    height: 100%;
    font-family: 'Mooli';
}

.hero {
    height: 100px;
    background-image: linear-gradient(rgb(10, 141, 211), rgb(68, 105, 156));
    display: relative;
}

.hero img {
    position: absolute;
    left: 0;
}

h1.heading {
    font-family: 'Dosis';
    font-size: 50px;
    font-weight: 600;
}

.card {
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
}

.column {
    margin: 10px;
    margin-bottom: 25px;
    background-image: linear-gradient(to top, rgb(10, 141, 211), rgb(68, 105, 156));
    color: aliceblue;
    border: 5px solid white;
    justify-content: center;
    border-radius: 15px;
    min-width: 200px;

}

.column a {
    scale: 1.2;
}

.flip:hover {
    scale: 1.05;
    transition: ease-in 0.20s;
    transition: ease-out 0.08s;
    transform: translateY(-10px);
}

.flip:hover::after {
    opacity: 1;
}

.column h2 {
    color: aliceblue;
    font-weight: 700;
}

.left {
    position: fixed;
    top:0;
    max-block-size: 80px;
}

.right {
    position: fixed;
    top:0;
    max-block-size: 80px;
    right:0;
}

.water {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.water-qty {
    align-items: center;
    border-radius: 0;
    text-align: center;
    background: none;
    border: none;
    color: #fff;
    font-size: 50px;
    width: 75px;
}

.control-options {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}


.slide {
    -webkit-appearance: none;
    width: 95%;
    height: 5px;
    border-radius: 5px;  
    background: #ffffff;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 20px;
}

.slide::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    background-image: linear-gradient( -90deg, #ee2513 0%, #daae51 100%);
    border: 2px solid white;
    cursor: pointer;
  }

  .slider {
    -webkit-appearance: none;
    width: 95%;
    height: 5px;
    border-radius: 5px;  
    background: #ffffff;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 20px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
    cursor: pointer;
    border: 2px solid white;
  }

.container {
    display: flex;
    justify-content: center;
}

.containerR {
    display: flex;
    justify-content: center;
}

.group {
    display: flex;
    flex-direction: row;
    font-size: 100px;
    margin:0 5px;
}

.subtitle {
    text-align: center;
}


.save {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 34px;
    border-radius: 50%;
    padding: 0px 25px;
    font-size: xx-large;
}

.reset {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: auto;
   margin-top: 10px;
   margin-bottom: 60px;
   border-radius: 10px;
   width: 20%;
   height: 40px;
   font-size: x-large;
   align-content: center;
   font-weight: 600;
}

.edit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: 25px;
    border-radius: 50%;
    padding: 0px 25px;
    font-size: xx-large;
}

.is-warning {
    width: 10%;
}


.fa-code {
    margin: 5px;
}

.happy {
    background-image: none;
    background-color: var(--happy);
    font-size: 25px;
    margin: 0;
    border-radius: 1px;
    border: none;

}

.sad {
    background-image: none;
    border: none;
    background-color: var(--sad);
    font-size: 25px;
    margin: 0;
    border-radius: 1px;

}

.nuetral {
    background-image: none;
    border: none;
    background-color: var(--nuetral);
    font-size: 25px;
    margin: 0;
    border-radius: 1px;

}

.angry {
    background-image: none;
    border: none;
    background-color: var(--angry);
    font-size: 25px;
    color: white;
    margin: 0;
    border-radius: 1px;

}

.stress {
    margin-bottom: 10px;
}


.block-mood {
    background-image:url(/assets/images/happy-png.png);
    background-size: cover;
    background-position: center;
    height: 130px;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    color: black;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 10px 10px -5px black;

}

.block-weather {
    background-image:url(/assets/images/weatherback.jpg);
    background-size: cover;
    background-position: center;
    height: 100px;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(15, 15, 136);
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 10px 10px -5px black;


}

.block-weather p {
    color:blue;
    font-weight: 600;
}

.block-music {
    background-image: url(/assets/images/youtube.png);
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 10px 10px -5px black;

}

.block-music a {
    text-decoration: none;
    font-style: none;
    color: #fff;
    
}

.water-display {
    background-image: linear-gradient( -90deg, #0bc3f6 0%, #ffffff 100%);
    backdrop-filter: blur(15px);
    color: rgb(14, 14, 15);
    display: flex;
    width: 90%;
    height: 50px;
    margin: auto;
    margin-left: 25px;
    margin-bottom: 10px;
    border-radius: 10px;
    align-items: center;   ;
    font-size: medium;
    box-shadow: 0 10px 10px -5px black;
    justify-content: center;
}

.water-display p {
    margin-left: 5px;
    font-weight: 600;
}

.stress-display {
    background-image: linear-gradient( -90deg, #ee2513 0%, #daae51 100%);
    backdrop-filter: blur(15px);
    display: flex;
    width: 90%;
    height: 50px;
    margin-right: 25px;
    margin-bottom: 10px;
    border-radius: 10px;
    align-items: center;
    font-size: medium;
    box-shadow: 0 10px 10px -5px black;
    color:rgb(0, 0, 0);
    justify-content: center;

}

.stress-display p {
    margin-left: 5px;
    font-weight: 600;
}

.sleep-display {
    background-image: linear-gradient(90deg, #dcd062 0%, #3A1C71 100%);
    color:#0c0c0c;
    display: flex;
    width: 90%;
    height: 50px;
    margin-left: 25px;
    margin-bottom: 10px;
    border-radius: 10px;
    align-items: center;
    font-size: medium;
    box-shadow: 0 10px 10px -5px black;
    justify-content: center;

    }

    .sleep-display p {
        margin-left: 5px;
        font-weight: 600;
    }

.happy:hover,
.sad:hover,
.nuetral:hover,
.angry:hover {
    scale: 1.1;
}

.energy-display {
    background-image: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
    backdrop-filter: blur(15px);
    display: flex;
    width: 90%;
    height: 50px;
    margin-right: 25px;
    margin-bottom: 10px;
    border-radius: 10px;
    align-items: center;
    font-size: medium;
    box-shadow: 0 10px 10px -5px black;
    color:rgb(0, 0, 0);
    justify-content: center;

}

.energy-display p {
    margin-left: 5px;
    font-weight: 600;
}

.flip {
    width: 200px;
    
}


.mood {
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
    font-size: 30px;
   color: white;
}

.weather {
    display: flex;
   justify-content: center;
   align-items: center;
   font-size: 40px;
   color: white;
}

.music {
    display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
}

.container input {
    align-items: center;
    align-content: center;
}

.fa-bottle-water {
    font-size: 90px;
}

.seperator {
    margin: 20px 0;
    width: 100%;
    height: 1px;
    background-color: rgb(171, 212, 251);
}

.links {

    width: 100%;
    text-align: center;

}

.links button {
    width: 30%;
    height: 50px;
    font-family: 'delicious handrawn';
    font-size: x-large;
    
}


.sleep {
    display: flex;
    justify-content: center;
    
}

.full {
    width: 100%;
}

.center {
    justify-content: center;
    text-align: center;
    margin: 0;
}

.make-bigger {
    font-size: 50px;
}

.hours {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-bottom: 25px;
}

select {
    width: 85%;
    style:none;
    background-color: transparent;
    font-size: larger;
    color: #fff;
    border-radius: 12px;
    border: 2px solid white;
}

option {
    background-color: transparent;

    border-radius: 15px;
    color: rgb(32, 131, 218);
    
}



.font-adjust {
   
    text-align: center;
}

label {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.fa-face-smile, .fa-face-meh, .fa-face-sad-tear, .fa-face-angry {
    margin: 5px;
    transition: 0.25s;
    font-size: 38px;
}

input[type="radio"] {
    -webkit-appearance: none;
}

.fa-face-smile:hover, .fa-face-meh:hover, .fa-face-sad-tear:hover, .fa-face-angry:hover {
    transition: 0.25s;
    scale: 1.2;
}

input[type="radio"]:checked + #happy {
    scale: 1.2;
    color: var(--happy);
}

input[type="radio"]:checked + #neutral {
    scale: 1.2;
    color: var(--nuetral);
}

input[type="radio"]:checked + #sad {
    scale: 1.2;
    color: var(--sad);
}

input[type="radio"]:checked + #angry {
    scale: 1.2;
    color: var(--angry);
}

.transparent {
    opacity: 70%;
    font-weight: 200;
}

